.contenedorRecursos {
    font-size: 1.8em;
    padding: 10px;
    text-align: center;

    h3 {
        background-color: $recursos-bgc;
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
    }

    .espacio {
        border-radius: 5px;
        padding: 15px;
        margin: 10px;
        background-color: $nosotros-bgc;

        .titulo1 {
            background-color: $convivencia-bgc;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;

            h4 {
                padding: 10px;
                background-color: $inicio-bgc;
                border-radius: 50px;
            }

            p {
                padding: 10px;
            }
        }
    }

    .equipamiento {
        background-color: $inicio-bgc;
        border-radius: 5px;
        padding: 15px;
        margin: 10px;

        .titulo2 {
            background-color: $convivencia-bgc;
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }

        h4 {
            padding: 10px;
            background-color: $nosotros-bgc;
            border-radius: 50px;
        }

        p {
            padding: 10px;
        }
    }

    figure {
        font-size: 0.6em;
        border: solid $convivencia-bgc 1px;
        margin: 5px;
        border-radius: 20px;
        padding: 10px;

        img {
            border-radius: 20px;
            margin: 5px;
        }

        figcaption {
            margin: 10px;
        }
    }
}