/* -- propiedades generales del pie de pagina --*/
.piePagina {
    width: 100%;
    color: $textColor;
    text-shadow: $textShadowColor;
    background-color: $bgGeneral;
    padding: 20px;
    font-size: $smaller;

    p {
        padding: 10px
    }

    a {
        text-decoration: none;
        color: #E3812B;
    }

    .contacto {
        width: 300px;
        height: 40px;
        margin: 20px;
        font-size: $base;
        text-align: center;
        border-radius: 5px;
        background-color: rgba(153, 205, 50, 0.169);
        box-shadow: 14px 14px 50px #9acd32;
        text-shadow: $textShadowColor;
    }
    .contacto:hover {
        background-color: #a129d98e;
        box-shadow: 14px 14px 50px #A229D9;
        text-shadow:5px 5px 15px #9acd32; ;
        color: #9acd32;
    }
}